---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";

$wrap_width: 850px;

h3{
	margin:0
}

.art-tag{
	display: inline-block;
	font-size: 0.7em;
	padding: 1px 10px 2px 10px;
	margin: 0 2px 0 5px;
	border-radius: 2px;
	background-color: #ccc;
	color: white;
	position: relative;
	top: -2px;
	// height: 0.8em;
}

.art-post{
	box-shadow: 0 0 5px #bbb;
	border-radius: 0.2em;
	padding: 1em;
}

a.art-link{
	text-decoration: none;
	text-decoration-line: none;
	box-decoration-break: unset;
	color: black;
}
a.art-link:visited{
	color: black;
}
a{
}

#info-container{
	display: block;
	box-shadow: 0 0 5px #bbb;
	padding: 5px 20px;
	height: 300px;
	width: 200px;
	position: absolute;
	/*left: 10px;*/
	right: calc(( 100vw - #{$wrap_width} )/2  + 20px );
	top: 78px;
	border-radius: 3px;
	background-color: #fff
}
#info-head{
	width: 144px;
	margin: 10px auto;
	overflow: hidden;
	border-radius: 50%;
	box-shadow: 0 0 5px #eee
}
#info-name{
	text-align: center;
}
#info-intro{
	color: #777;
	font-size: 0.7em;
}

// Theme, Layouts

.wrapper{
	max-width: $wrap_width;
}

.pagination-box{
	border-top: 1px solid #e8e8e8;
	padding: 5px 0;
	position: relative;
	min-height: 70px;
	div{
		display: inline-block;
	}
	.next-page{
		position: absolute;
		right: 0;
		text-align: right;
	}
	p{
		color: #999;
		font-size: 0.8em;
	}
}

.site-title{
	text-decoration: none;
	&:hover{
		transition: font-weight;
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
		font-weight: 600;
		text-decoration: none;
	}
	@extend %animation-l2r-border-bottom;
		&::before{
		top: 7px;
		height: 4px;
		background-color: rgba(30,50,30,1);
	}

}

.site-footer{
	$height: 20px;
	border: none;
	padding: 5px 0 5px 0;
	background-color: #eee;

	.footer-col{
		margin:  2px 0;
	}
	ul{
		margin: 0;
	}
}

.site-header{
	background-color: #bedcad;
	border: none;
}

// Home elements
.post-excerpt{
	// margin-left: 10px;
	p{
		font-size: 1em;
		color: #555;
	}
}
.page-link{
	@extend %animation-stretched-border-bottom;
	&::before{
		height: 2px;
		background-color: #333;
	}
}

.post-link{
	color: #000;
	display: inline-block;
	position: relative;
	&:visited{
		color: rgba(30,50,30,1);
		text-decoration: none;
	}
	@extend %animation-stretched-border-bottom;
	&::before{
		height: 2px;
		background-color: #333;
	}
}

.post-tags{
	// margin-top: 5px;
	// margin-bottom: 5px;
	margin-left: 6px;
	border-left: 1px solid #ccc;
	padding-left: 4px;
}
.post-word-num{
	margin-bottom: 10px;
	margin-left: 6px;
	margin-top: -5px;
	border-left: 1px solid #ccc;
	padding-left: 4px;
}
.post-meta{
	font-size: 0.8em;
}
$post_width: 720px;

//==================================================
// Post
//==================================================

.post{
	max-width: $post_width;
}
.toc-box{
	display: block;
	position: fixed;
	top: 70px;
	left: calc(( 100vw - #{$wrap_width})/2 + #{$post_width} + 5px);
	color: rgba(40,80,50,1);
	// box-shadow: 0 0 15px #aaa;
	p{
		margin-bottom: 5px;
		margin-left: 3px;
		border-bottom: 1px solid rgba(40,80,50,1);
		margin-right: 10px;
	}
	a{
		font-size: 12px;
		color: rgba(40,80,50,1);
	}
	li{
		margin-bottom: 0px;
		font-size: 13px;
	}
	ul, ol{
		// default was 30px
		margin-left: 20px;
	}
}

.post-content{
	@media screen and (max-width: 800px) {
		h1{
			font-size: 26px;
		}
		h2{
			font-size: 24px;
		}
		h3{
			font-size: 22px;
		}
		h4{
			font-size: 20px;
		}
	}
	h1{
		font-size: 28px;
	}
	h2{
		font-size: 26px;
	}
	h3{
		font-size: 24px;
	}
	h4{
		font-size: 22px;
	}
}

// animation objects

%animation-stretched-border-bottom{
	position: relative;
	&:hover{
		text-decoration: none;
	}
	&:hover::before{
		text-decoration: none;
		transform: scaleX(1);
	}
	&::before{
		content: "";
		// height: 2px;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		// background-color: ;
		transform: scaleX(0);
		transition-duration: 0.2s;
		transition-timing-function: ease-in-out;
	}
}

%animation-l2r-border-bottom{
	position: relative;
	&:hover{
		text-decoration: none;
	}
	&:hover::before{
		text-decoration: none;
		transform: scaleX(1);
	}
	&::before{
		content: "";
		// height: 2px;
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		// background-color: ;
		transform: scaleX(0) ;
		transition-duration: 0.2s;
		transform-origin: left;
		transition-timing-function: ease-in-out;
	}
}
