---
layout: art_default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.arts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Arts" }}</h2>
    <ul class="post-list">
      {%- for art in site.arts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ art.url | relative_url }}">
            {{ art.title | escape }}
          </a>
        </h3>
        <span class="post-meta">{{ art.date | date: date_format }}</span>
        {%- if art.tags.size > 0 -%}
          {%- for tag in art.tags -%}
          <span class="art-tag">{{ tag | escape}} </span>
          {%- endfor -%}
        {%- endif-%}
        {%- if site.show_excerpts -%}
          {{ art.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
