---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.computer_science.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "筆記" }}</h2>
    <ul class="post-list">
      {%- for post in site.computer_science reversed -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div class="post-tags">
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          {%- if post.tags.size > 0 -%}
            {%- for tag in post.tags -%}
            <div class="art-tag">
              <span >{{ tag | escape}} </span>
            </div>
            {%- endfor -%}
          {%- endif-%}
        </div>
        <div class="post-word-num">
          {%assign post_words = post.content | strip_html | size %}
          <span class="post-meta">Symbols count: 
            {% if post_words < 1000 %}
              {{post_words}}
            {% else %}
              {{post_words | divided_by: 1000.0 | round: 1}}K
            {% endif %}
           ,</span>
          <span class="post-meta">Estimated reading time: 
            {% if post_words < 18000 %}
              {{post_words | divided_by: 300}} mins
            {% else %}
              {{post_words | divided_by: 18000.0 | round: 1}} hrs
            {% endif %}~
            {% if post_words < 15000 %}
              {{post_words | divided_by: 250}} mins
            {% else %}
              {{post_words | divided_by: 15000.0 | round: 1}} hrs
            {% endif %}
        </span>
        </div>
        {%- if site.show_excerpts -%}
          <div class="post-excerpt">
          {{ post.excerpt }}
          </div>
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
