---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}
  {%- if site.computer_science.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "筆記" }}</h2>
    <ul class="post-list">
      {%- for post in site.computer_science reversed -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          {%- if post.tags.size > 0 -%}
            {%- for tag in post.tags -%}
            <dir class="art-tag">
              <span >{{ tag | escape}} </span>
            </dir>
            {%- endfor -%}
          {%- endif-%}
        </div>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
